.table{
    background-color: #581f1f;
    box-shadow: 0px 0px 20px black
}
.table p{
     color: white;
}
.table th{
    color: white;
}
.pass_body{
    background-color: #581f1f;
}
.table td{
    padding: 10px 10px;
  }